@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    width: 0;
}

html, body {
    color: #fff;
    background: #200289;
}

main {
    background: #4b3b5d;
    height: 100vh;
    height: 100dvh;
}

@layer utilities{
    .text-balance {
        text-wrap: balance;
    }
}
